body{
    margin:0;
    background-color:rgb(23, 23, 23);
    font-family: 'Lato', sans-serif;
}
.meniu{
    position:sticky;
    top:0;
    background-color:rgb(41, 41, 41);
    overflow: hidden;
    height:56px;
    width: 100%;
}
.meniu a{
   text-decoration:none;
   float: left;
   display: block;
   color: #c2c2c2;
   text-align: center;
   padding: 16px 18px;
   font-size: 20px;
   transition:0.4s;
}
.meniu a:hover {
    background: rgba(143, 143, 143, 0.862);
    opacity:0.9;
    color: rgb(255, 255, 255);
}
.login{
    background-color: rgb(226, 104, 38);
}
.meniu a.login{
    float:right;
}
.meniu a.login:hover{
    background:rgb(255, 247, 16);
    color:black;
}
#acasa{
    font-size:40px;
    background-color: #000000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url('/assets/meniu.jpeg');
    background-position: center;
	background-size: cover;
	color:aliceblue;
    padding: 3em;
	text-align: center;
    background-image: url("gradient_home.jpeg");
}
#text{
    color:darkgrey;
    text-align:center;
    padding-left:300px;
    padding-right:300px;
    font-size:20px;
}
#contact{
    font-size:20px;
    color:darkgrey;
    text-align:center;
}
.titlu
{
    color:coral;
    text-align:center;
}
